---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 0.5em;
//   margin: 1em 0 0.5em;
}

// _masterhead.scss 5
.masthead {
  border-bottom-color: $masterhead-background-color;
}
// .masthead {
//   background-color: $masterhead-background-color;
// }
// // _navigation.scss 171
// .greedy-nav {
//   background-color: transparent;
//   a {
//     color: $masterhead-text-color;
//   }
// }

// a {
//   &:focus {
//     @extend %tab-focus;
//   }

//   &:visited {
//     color: $link-color-visited;
//   }

//   &:hover {
//     color: wheat;
//     // color: $link-color-hover;
//     outline: 0;
//   }
// }

.author__bio {
  p {
    margin-top: 10px;
  }
}